@model WeCare.Models.Meta

@{
    ViewData["Title"] = "Detalhes da Meta";
}

<h1>Detalhes da Meta</h1>

<p><strong>Descrição:</strong> @Model.Descricao</p>
<p><strong>Categoria:</strong> @Model.Categoria</p>
<p><strong>Economia Estimada:</strong> @Model.EconomiaEstimativa</p>
<p><strong>Prazo:</strong> @Model.Prazo</p>

<a href="/Meta">Voltar</a>
